@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    overflow: overlay;
    background: url(./hexagon.png) no-repeat 21% 8.4% / 45em, url(./astronaut.png) no-repeat 95% top / 16em, linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

/* === NAVBAR === */

nav {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 30px;
    padding-left: 5em;
}

nav h1 {
    font-size: 30px;
}

nav .menu {
    background-image: linear-gradient(to right, #ff0033, #002aff);
    padding: 5px 5px;
    padding-bottom: 6px;
    border-radius: 100px;
    font-size: small;
    margin-left: 21em;
    border: 3px solid whitesmoke;
}

nav .menu a {
    color: whitesmoke;
    text-decoration: none;
    margin: 0px 20px;
}

.menu a:hover {
    cursor: pointer;
    color: #77ffdb;
}

/* === GREET === */

.greet {
    font-family: 'Red Rose', cursive;
    margin-top: 2.3em;
    padding-left: 1em;
    font-size: 5em;
}

/* === TEXT ANIMATION === */

nav h1,
.greet span {
    background-image: linear-gradient(to right, #00ff99, #00ffff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 1000%;
    background-position: -100%;
    animation: text 1s infinite alternate-reverse;
}

@keyframes text {
    from {
        background-position: 0%;
    }

    to {
        background-position: 100%;
    }
}

/* === CARDS === */

.cards {
    margin-top: 16em;
    margin-bottom: 15em;
    padding-bottom: 7em;
    display: grid;
    row-gap: 14%;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.cards div {
    width: 20em;
    height: 10em;
    display: inline-block;
    box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px, rgb(0 0 0 / 73%) 0px 16px 10px -10px;
    border-radius: 25px;
    position: relative;
}

.icon-container {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
}

.cards i {
    background-color: rgb(245, 245, 245, 0.5);
    padding: 10px;
    margin: 2.5px;
    border-radius: 50%;
}

.cards i:hover {
    background-color: #77ffdb;
}

.cards div:nth-child(1) {
    background-image: url(./assets/1.png);
    background-size: cover;
}

.cards div:nth-child(2) {
    background-image: url(./assets/2.png);
    background-size: cover;
}

.cards div:nth-child(3) {
    background-image: url(./assets/3.png);
    background-size: cover;
}

.cards div:nth-child(4) {
    background-image: url(./assets/4.png);
    background-size: cover;
}

.cards div:nth-child(5) {
    background-image: url(./assets/5.png);
    background-size: cover;
}

.cards div:nth-child(6) {
    background-image: url(./assets/6.png);
    background-size: cover;
}

.cards div:nth-child(7) {
    background-image: url(./assets/7.png);
    background-size: cover;
}

.cards div:nth-child(8) {
    background-image: url(./assets/8.png);
    background-size: cover;
}

.cards div:nth-child(9) {
    background-image: url(./assets/9.png);
    background-size: cover;
}

.cards div:nth-child(10) {
    background-image: url(./assets/11.png);
    background-size: cover;
}

.cards div:nth-child(11) {
    background-image: url(./assets/13.png);
    background-size: cover;
}

/* === CUSTOM SCROLLBAR === */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #002aff;
}

::-webkit-scrollbar-thumb:hover {
    background: #ff0033;
}